/* @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/evolventa');


* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0,0;
}

body {
    background-color: #333;
    color: #fff;
    /* font-family: "Handjet", sans-serif; */
    font-family: 'Evolventa', sans-serif;
    font-weight: 300;
}

.top_panel {
    background-color: #2f1b94;
    float: left;
    position: absolute;
    text-align: center;
    top: 0;
    left: 150px;
    right: 0;
    height: 50px;
}

aside {
    background-color: #8471da;
    float: left;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
}

main .user {
    margin-bottom: 50px;
    background-color: #3e8fa0;
    padding: 20px;
}

main .delete-icon {
    float: right;
    background-color: #134b57;
    cursor: pointer;
    transform: scale(2);
}

main .edit-icon {
    float: right;
    margin-right: 25px;
    background-color: #165664;
    cursor: pointer;
    transform: scale(2);
}

main .delete-icon:hover,
main .edit-icon:hover {
    opacity: 0.5;
}

/* form input:not([type="checkbox"]),*/
form textarea, 
form button {
    width: 90%;
    padding: 1% 1%;
    font-family: "Evolventa", sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    border: 0;
    background-color: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
} 

form input[type="checkbox"] {
    margin: 10px;
}

form button {
    width: 90%;
    cursor: pointer;
    transition: transform 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

/* .user form {
    margin-top: 20px; 
} */

/* .user form input,
.user form textarea, 
.user form button {
    margin: 5px;
    background-color: #134b57;
    position: relative;
} */

form button:hover {
    transform: scale(1.01);
}

main .task_small {
    margin: 5px;
    width: 250px;
    /* height: 70px; */
    white-space: pre-line;
    margin-bottom: 15px;
    background-color: #3e8fa0;
    padding: 10px;
}

tasks_body {
    margin: 0, 0;
    left: 100px;
    margin-left: 100px; 
} 

.group_headers{
    background-color: #719e1e;
    left: 0px;
    top: 0px;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    float: center;
    position: relative;
    display:inline;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tasks_small {
    left: 180px;
    top: 30px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    position: relative;
    display:inline;
}

.task_small_name {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    background-color: #202168;
    font-size: 18px;
}

.task_small_desc {
    background-color: #3e8fa0;
    font-size: 15px;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.authorize_window {
    /* float: center; */
    /* display: block; */
    padding: 10px 0;
    position: absolute;
    text-align: center;
    height: 170px;
    width: 300px;
    margin: -85px 0 0 -150px;
    top: 50%;
    left: 50%;
    background-color: #ce2997;
}